.canvas{
    padding-left: 5%;
    
}
.hidden{
    display: none;
}
body{
    background-color: #ffffcc;
}
.navbar{
    background-color: #6E6F99;
}
#start{
    margin-bottom: 5px;
}
.tokens{
    padding-left: 15%;
}
.selected{
    border:white 5px dotted;
}

.nonClickable{
    pointer-events: none;
    cursor: default;
}